body {
    margin: 0;
    padding: 0;
    background-image: url(email-pattern.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#aboutMe {
    color: rgb(67 160 155);
    font-size: 32px;
    border-bottom: solid lightgrey 5px;
    padding-bottom: 15px;

}
#myName {
    color: white;
    background-color: rgb(67, 160, 155);
    margin: 0 16%;
    padding: 15px;
    width: 250px;
    text-align: center;
    font-size: 32px;
}
.container {
    width: 960px;
    margin: 35px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    line-height: 30px;
}
img {
    border-radius: 15px;
}

header {
    background-color: white;
    border-bottom: groove;
    border-width: 3px;
}
#links {
    float: right;
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    color: grey;
}
#footer {
    background-color: grey;
    color: lightgrey;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: solid 8px rgb(67, 160, 155);
    position: absolute;
    bottom: 0;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
li {
    display: inline;
    margin: 5px;
}
#about {
    border-right: solid 1px grey;
    padding-right: 10px;
    margin: 0 auto;
}
#portfolio {
    border-right: solid 1px grey;
    padding-right: 10px;
}
a:link {
    text-decoration: none;
    color: grey;
}
a:visited {
    text-decoration: none;
    color: red;
}